{% extends "StoreBackendBundle::layout.html.twig" %}

{% block titlepage %}
    Page d'un fournisseur : {{ id }}
{% endblock %}

{% block content %}
    <p>Nom du fournisseur : {{ name }}</p>
{% endblock %}