{% extends "StoreBackendBundle::layout.html.twig" %}

{% block titlepage %}
    Page d'un fournisseur : {{ supplier.id }}
{% endblock %}

{% block content %}
    <p>Nom du fournisseur : {{ supplier.name }}</p>
    <p>Description : {{ supplier.description }}</p>
    <img src="{{ supplier.image }}" class="img-responsive" />




{% endblock %}