# Importation des jeux de root

store_backend_homepage:
    path:     /hello/{name}
    defaults: { _controller: StoreBackendBundle:Default:index }

store_backend_index:
    path: /dashboard #chemin / URI de la route
    defaults: { _controller: StoreBackendBundle:Main:index }
    # Le controller et l'action appelée

# Pages statics
store_backend_statics:
    resource: "@StoreBackendBundle/Resources/config/statics.yml"
    prefix:   /

# Pages products
store_backend_products:
    resource: "@StoreBackendBundle/Resources/config/modules/product.yml"
    prefix:   /products

# Pages category
store_backend_categories:
    resource: "@StoreBackendBundle/Resources/config/modules/category.yml"
    prefix:   /categories

# Pages cms
store_backend_cms:
    resource: "@StoreBackendBundle/Resources/config/modules/cms.yml"
    # Argument {_locale} pour traduire tout mon module cms
    # au niveau du routing
    # {_locale} : Argument spéciale au routing reconnus par le système
    # d'internationalisation de symfony
    prefix:   /{_locale}/cms
    requirements:
        _locale: en|fr|es

# Pages suplier
store_backend_supplier:
    resource: "@StoreBackendBundle/Resources/config/modules/supplier.yml"
    prefix:   /suppliers

# Pages slider
store_backend_slider:
    resource: "@StoreBackendBundle/Resources/config/modules/slider.yml"
    prefix:   /slider


# Pages jeweler
store_backend_jeweler:
    resource: "@StoreBackendBundle/Resources/config/modules/jeweler.yml"
    prefix:   /jeweler
