{% extends "StoreBackendBundle::layout.html.twig" %}

{% block titlepage %}
    Page d'une catégorie : {{ id }}
{% endblock %}

{% block content %}
    <p>Nom de la catégorie : {{ name }}</p>
{% endblock %}